<!DOCTYPE html>
<html lang="ja" 
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>レシピ管理アプリ</title>
    <link rel="stylesheet" th:href="@{/output.css}">
    <script src="https://cdn.jsdelivr.net/npm/preline@2.0.3/dist/preline.min.js"></script>
</head>
<body class="flex flex-col min-h-screen">
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="flex-grow">
        <section layout:fragment="content">
        </section>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>