<!DOCTYPE html>
<html lang="ja" 
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}"
>
<head>
    <title>レシピ詳細</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="text-center">
            <h1 class="text-3xl font-bold underline">レシピ詳細ページです</h1>
            <p>レシピ詳細をここに表示します</p>
        </div>
        <div th:object="${recipe}">
            <p th:text="*{id}"></p>
            <p th:text="*{name}"></p>
            <p th:text="*{mainIngredient}"></p>
            <ul>
                <li th:each="ingredient:*{otherIngredients}" th:text="${ingredient}"></li>
            </ul>
            <p th:text="*{url}"></p>
        </div>
        <div>
            <form
                th:action="@{/recipe/{id}(id=*{id})}"
                th:method="delete"
                onclick="return confirm('レシピを削除しますか？');"
            >
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">Delete</button>
        </div>
    </section>
</body>
</html>